Flask
Flask-Cors
Flask-Login
Flask-Session
Flask-SQLAlchemy
numpy
pandas
# pillow==11.0.0
requests
# safetensors==0.4.5
scikit-learn
# sentence-transformers==3.3.1
SQLAlchemy
# tokenizers==0.20.3
# torch==2.5.1
# tqdm==4.67.0
# transformers==4.46.3
Werkzeug
gunicorn
